body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed; /*todo lo que se rellena se queda asi.*/ 
}
#logo{
    background: #CA3413;
}
#menu ul li:hover{
    background: #CA3413;
}
.button-more{
    background: #CA3413;
}